<!--class="container" had to be removed for background-->
  <div>
    <!--FRIST SECTION-->
    <div style="background-color:#eef4f9; max-width:100%;"> <!--setting the background that isnt white-->
    <!--in most of project im using bootstrap classes like: container,row,col-*-->
    <div class="container">
        <div class="row" id="home">
          <div class="col-md-6 section1-1">
            <h1>Grow Your Business with Our Marketing Solutions</h1>
            <br />
            <h5>We help our clients to increase their website traffic, rankings and visiblity in search results.</h5>
            <br />
            <!--creating blue button with white text using bootstrap classes and my own style for shape-->
            <button class="btn-primary" style="border-radius: 30px;height: 56px;">TRY IT FOR FREE</button>
          </div>
          <div class="col-md-6 section1-2 img-fusion">
            <img src="./images/rocket2.png" alt="rocket missing" class="rocket-balance" [@rocket]="state"/>
            <img src="./images/rocket3.png" alt="Alternate Text" class="back-image" />
            <img src="./images/rocket4.png" alt="Alternate Text" class="back-image2" />
          </div>
        </div>
      </div>
      <div>
        <img src="./images/rocket1.png" alt="Alternate Text" class="clouds" />
      </div>
    </div>
    <!--SECOND SECTION-->
    <div class="container">
      <div class="row margint100 marginb100" id="what_we_do">
        <div class="col-12" style="text-align: center;padding-left:130px;padding-right:130px;">
          <h6>WHAT WE DO?</h6>
          <h2>The full service we are offering is specifically designed to meet your business needs.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="text-align: center">
          <img src="./images/blob1.svg" class="filter-red" />
          <div class="center-icon"><fa-icon [icon]="faSearch"></fa-icon></div>
          <h4>SEO Services</h4>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.Cras justo</p>
        </div>
        <div class="col-md-3" style="text-align: center">
          <img src="./images/blob1.svg" class="filter-blue" />
          <div class="center-icon">
            <fa-icon [icon]="faThLarge" style="margin:10px;"></fa-icon>
          </div>

          <h4>Web Design</h4>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.Cras justo</p>
        </div>
        <div class="col-md-3" style="text-align: center">
          <img src="./images/blob1.svg" class="filter-green" />
          <div class="center-icon">
            <fa-icon [icon]="faShareAlt"></fa-icon>
          </div>
          <h4>Social Engagement</h4>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.Cras justo</p>
        </div>
        <div class="col-md-3" style="text-align: center">
          <img src="./images/blob1.svg" class="filter-grey" />
          <div class="center-icon">
            <fa-icon [icon]="faTasks"></fa-icon>
          </div>
          <h4>Content Marketing</h4>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.Cras justo</p>
        </div>
      </div>
    </div>
    <!--THIRD SECTION-->
    <div class="container">
      <div class="row margint100 flexr">
        <div class="col-md-6">
          <img src="./images/concept8.png" alt="Alternate Text" style="width:100%" />
        </div>

        <div class="col-md-6" id="why_choose_us">
          <h6 style="text-align: center">WHY CHOOSE US?</h6>
          <h2>Why is search engine optimization important for your business?</h2>
          <br />
          <p>
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus
            sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus acursus
            commodo, tortor mauriscondimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
          <br />
          <p><fa-icon [icon]="faCheck"></fa-icon> Aenean eu leo quam ornare</p>
          <p><fa-icon [icon]="faCheck"></fa-icon> Nullam quis risus eget mollis</p>
          <p><fa-icon [icon]="faCheck"></fa-icon> Donec elit non mi porta gravida</p>
          <p><fa-icon [icon]="faCheck"></fa-icon> Fusce dapibus cursus commodo</p>
        </div>
      </div>
    </div>
    <!--FOURTH SECTION-->
    <div class="container">
      <div class="row margint100" id="our_process">
        <div class="col-md-6">
          <h6>OUR PROCESS</h6>
          <h2>We bring solutions to make life easier for our customers</h2>
          <br />
          <div class="floatl">
            <img src="./images/blob1.svg" class="filter-blue" />
            <div class="center-icon2">
              <fa-icon [icon]="faLightbulb"></fa-icon>
            </div>
          </div>
          <div>
            <h5>Collect Ideas</h5>
            <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi prota gravida at eget metus. Cras justo.</p>
          </div>
          <div class="floatl">
            <img src="./images/blob1.svg" class="filter-green" />
            <div class="center-icon2">
              <fa-icon [icon]="faFolder"></fa-icon>
            </div>
          </div>
          <h5>Data Analysis</h5>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi prota gravida at eget metus. Cras justo.</p>
          <div class="floatl">
            <img src="./images/blob1.svg" class="filter-yellow" />
            <div class="center-icon2">
              <fa-icon [icon]="faHeart"></fa-icon>
            </div>
          </div>
          <h5>Magic Touch</h5>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi prota gravida at eget metus. Cras justo.</p>
        </div>
        <div class="col-md-6">
          <img src="./images/concept1.png" alt="Alternate Text" style="width:100%;" />
        </div>
      </div>
    </div>
    <!--FIFTH SECTION-->
    <div class="container">
      <div class="row flexr margint100" id="our_personalized_solutions">
        <div class="col-md-6">
          <img src="./images/concept3.png" alt="Alternate Text" style="width:100%;" />
        </div>
        <div class="col-md-6">
          <h6>OUR PERSONALIZED SOLUTIONS</h6>
          <h2>Just sit and relax while we take care of your business needs</h2>
          <br />
          <p>
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus
            sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus acursus
            commodo, tortor mauriscondimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
          <br />
          <p><fa-icon [icon]="faCheck"></fa-icon> Aenean eu leo quam ornare</p>
          <p><fa-icon [icon]="faCheck"></fa-icon> Nullam quis risus eget mollis</p>
          <p><fa-icon [icon]="faCheck"></fa-icon> Donec elit non mi porta gravida</p>
          <p><fa-icon [icon]="faCheck"></fa-icon> Fusce dapibus cursus commodo</p>
        </div>
      </div>
    </div>
    <!--SIXTH SECTION-->
    <div class="container">
      <div class="row margint100" id="customer_stories">
        <div class="col-md-12" style="text-align:center;">
          <h6>CUSTOMER STORIES</h6>
          <h2>Customer satisfaction is our major goal.<br /> See what our customers are saying about us.</h2>
        </div>
      </div>
      <!--CAROUSEL WITH CARDS-->
      <div id="carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example" data-slide-to="0" class="active c-i-active"></li>
          <li data-target="#carousel-example" data-slide-to="1" class="c-indicator"></li>
          <li data-target="#carousel-example" data-slide-to="2" class="c-indicator"></li>
          <li data-target="#carousel-example" data-slide-to="3" class="c-indicator"></li>
        </ol>
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="row" style="padding:40px;">
              <div class="col-md-4" *ngFor="let customerElement of customers; let i = index" style="margin-bottom:10px;">
                <div class="card promoting-card">
                  <!-- Card content <i class="far fa-clock pr-2"></i> -->
                  <div class="card-body">
                    <!-- Single Customer Story-->
                    <p class="card-text">"{{ customerElement.story }}"</p>
                    <br />
                    <!-- Avatar -->
                    <img src="{{ customerElement.img }}" class="rounded-circle mr-3" style="height:50px;width:50px; float:left;" alt="avatar">

                    <div class="floatl">
                      <!-- Customer Name -->
                      <h4 class="card-title font-weight-bold mb-2">{{ customerElement.name }}</h4>
                      <h6 class="card-title font-weight-bold mb-2">{{ customerElement.job }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Second slide-->
          <div class="carousel-item">
            <div class="row" style="padding:40px;">
              <div class="col-md-4" *ngFor="let customerElement of customers; let i = index" style="margin-bottom:10px;">
                <div class="card promoting-card">
                  <!-- Card content <i class="far fa-clock pr-2"></i> -->
                  <div class="card-body">
                    <!-- Single Customer Story-->
                    <p class="card-text">"{{ customerElement.story }}"</p>
                    <br />
                    <!-- Avatar -->
                    <img src="{{ customerElement.img }}" class="rounded-circle mr-3" style="height:50px;width:50px; float:left;" alt="avatar">

                    <div class="floatl">
                      <!-- Customer Name -->
                      <h4 class="card-title font-weight-bold mb-2">{{ customerElement.name }}</h4>
                      <h6 class="card-title font-weight-bold mb-2">{{ customerElement.job }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Third slide-->
          <div class="carousel-item">
            <div class="row" style="padding:40px;">
              <div class="col-md-4" *ngFor="let customerElement of customers" style="margin-bottom:10px;">
                <div class="card promoting-card">
                  <!-- Card content <i class="far fa-clock pr-2"></i> -->
                  <div class="card-body">
                    <!-- Single Customer Story-->
                    <p class="card-text">"{{ customerElement.story }}"</p>
                    <br />
                    <!-- Avatar -->
                    <img src="{{ customerElement.img }}" class="rounded-circle mr-3" style="height:50px;width:50px; float:left;" alt="avatar">

                    <div class="floatl">
                      <!-- Customer Name -->
                      <h4 class="card-title font-weight-bold mb-2">{{ customerElement.name }}</h4>
                      <h6 class="card-title font-weight-bold mb-2">{{ customerElement.job }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--SEVENTH SECTION-->
    <div class="container">
      <div class="row margint100" id="pricing">
        <div class="col-md-5">
          <h6>OUR PRICING</h6>
          <h2>We offer great prices, premium products and quality service for your business.</h2>
          <p>Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est.</p>
        </div>
        <div class="col-md-7" style="padding:10px;">
          <div id="price1" class="prices">
            <p>$ <span style="font-size:26px;">9</span> /month</p>
            <h5>Basic Plan</h5>
            <br />
            <p>1 Project <br />100K API Access <br />100MB Storage <br />Custom Cloud Services <br />Weekly Reports <br />7/24 Support</p>
            <button class="btn-primary" style="border-radius:30px;height:40px;">CHOOSE PLAN</button>
          </div>
          <div id="price2" class="prices">
            <p>$ <span style="font-size:26px;">19</span> /month</p>
            <h5>Premium Plan</h5>
            <br />
            <p>5 Projects <br />100K API Access <br />200MB Storage <br />Custom Cloud Services <br />Weekly Reports <br />7/24 Support</p>
            <button class="btn-primary" style="border-radius:30px;height:40px;">CHOOSE PLAN</button>
          </div>
        </div>
      </div>
    </div>
    <!--EIGHTH SECTION-->
    <div class="container">
      <div class="row flexr margint100" id="lets_talk">
        <div class="col-md-6">
          <img src="./images/concept12.png" alt="Alternate Text" style="width:100%;" />
        </div>
        <div class="col-md-6" style="padding-top:30px;">
          <h6>LET'S TALK</h6>
          <h2>Let's make something great together. If you got any questions, don't hesitate to get in touch with us.</h2>
          <br />
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget uma mollis ornare vel eu leo.
            Maecenas faucibus mollis interdum. Aehean lacinia bibendumnulla sed consectetur.
          </p>
          <button class="btn-primary" style="border-radius:30px;height:40px;">CONTACT US</button>
        </div>
      </div>
    </div>
    <!--NINTH SECTION / LAST-->
    <div style="background-color:#eef4f9;padding-top:20px;"><!--div using background color that isnt white-->
      <div class="container">
        <div class="row margint100 marginb100 text-center" id="analyze_now">
          <div class="col-md-12">
            <h6>ANALYZE NOW</h6>
            <h2>Wonder how much faster your website can go? <br /> Easily check your SEO now.</h2>
            <div>
              <!--input and submit with help from angular, email has to be entered for submit button to work-->
              <form (ngSubmit)="onSubmit()" #f="ngForm">
                <input type="text" name="email" ngModel required email placeholder="Email Address" style="border-radius:30px;height:40px;width:280px;margin-right:15px;" />
                <button type="submit" [disabled]="f.invalid" class="btn-primary" style="border-radius:30px;height:40px;">ANALYZE</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!--background clouds image-->
        <img src="./images/rocket1.png" alt="Alternate Text" class="clouds" />
      </div>
    </div>

    </div>
