.section1-1 {
  padding-top: 120px;
}
.section1-2
{
    padding-left:130px;
    padding-top:80px;
}
.rocket-balance {
  margin-bottom: -100px;
  margin-top: 100px;
  height: 460px;
  z-index:10;
}
.img-fusion {
  position: relative;
}
.back-image {
  max-width:512px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.back-image2 {
  max-width: 600px;
  position: absolute;
  left: -40px;
  bottom: 0px;
}
.clouds {
  width:100%;
}
.margint20{
    margin-top:20px;
}
.filter-red {
  position: relative;
  height: 60px;
  filter: invert(97%) sepia(14%) saturate(878%) hue-rotate(279deg) brightness(93%) contrast(104%);
}
.filter-blue {
  position: relative;
  height: 60px;
  filter: invert(96%) sepia(31%) saturate(4762%) hue-rotate(176deg) brightness(108%) contrast(93%);
}
.filter-green {
  position: relative;
  height: 60px;
  filter: invert(90%) sepia(14%) saturate(258%) hue-rotate(60deg) brightness(109%) contrast(90%);
}
.filter-grey {
  position: relative;
  height: 60px;
  filter: invert(93%) sepia(11%) saturate(263%) hue-rotate(197deg) brightness(96%) contrast(94%);
}
.filter-yellow {
  position: relative;
  height: 60px;
  filter: invert(80%) sepia(95%) saturate(2653%) hue-rotate(312deg) brightness(105%) contrast(92%);
}
.center-icon {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  .flexr {
    flex-direction: column-reverse;
  }
}
.floatl{
    float:left;
}
.center-icon2 {
  position: absolute;
  left: 7%;
  margin-top:-36px;
  /*transform: translate(-50%, -50%);*/
}
.c-indicator {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color:gray;
}
.c-i-active {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: gray;
}
.prices {
  text-align: center;
  float: left;
  background-color:white;
  border: 1px solid black;
  padding: 20px;
  margin-left: 5px;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  /*cursor:default;*/
}
.prices:hover{
    padding:25px;
    margin-top:-5px;
}
h6{
    color:grey;
}
.margint100{
    margin-top:100px;
}
.marginb100{
    margin-bottom:100px;
}
.text-center{
    text-align:center;
}
