<body>
  <app-nav-menu style=" /*position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: #333;*/
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:99;
  background:white;"></app-nav-menu>
  <!--class="container"-->
  <div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</body>
