<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3"
  > <!--using bootstrap classes to make collapsable navbar/ hamburger button-->
    <div class="container maxw950">
      <!--<a class="navbar-brand" [routerLink]="['/']">Ingtest</a>-->
      <img src="./images/logo.png" alt="logo" />
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow"> <!--list of navigations in navbar-->
          <li class="nav-item">
            <!--Using ngx scroll to for smooth scrolling to desired section on page-->
            <a [ngx-scroll-to]="'#home'"  [ngx-scroll-to-offset]="-67" class="nav-link text-dark">HOME</a>
          </li>
          <li class="nav-item">
            <a [ngx-scroll-to]="'#what_we_do'"  [ngx-scroll-to-offset]="-67" class="nav-link text-dark">WHAT WE DO</a>
          </li>
          <li class="nav-item">
            <a [ngx-scroll-to]="'#customer_stories'" [ngx-scroll-to-offset]="-67" class="nav-link text-dark">CUSTOMER STORIES</a>
          </li>
          <li class="nav-item">
            <a [ngx-scroll-to]="'#pricing'"  [ngx-scroll-to-offset]="-67" class="nav-link text-dark">PRICING</a>
          </li>
          <li class="nav-item">
            <a [ngx-scroll-to]="'#lets_talk'"  [ngx-scroll-to-offset]="-67" class="nav-link text-dark">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
