<div class="container" style="margin-top:60px;">
  <div class="row">
    <!--First 1/4-->
    <!--Used ngFor to get 3 posts and to insert their data with angular, Check Model andService if needed-->
    <div class="col-md-3">
      <h5>Popular posts</h5>
      <div *ngFor="let postElement of posts" style="margin-bottom:3px;" class="clearfix">
        <img src="{{ postElement.img }}" alt="Alternate Text" class="post-img" />
        <div class="post-text">
          <p>{{ postElement.title }}</p>
          <p>
            <fa-icon [icon]="faClock"></fa-icon> 
            {{ postElement.date }}
            <fa-icon [icon]="faComment"></fa-icon>
            {{ postElement.numOfReplies }}
          </p>
        </div>
      </div>
    </div>
    <!--Second 1/4-->
    <div class="col-md-3">
      <h5>Tags</h5> <!--Simple buttons using bootstrap classes-->
      <button class="btn-primary margin5" style="border-radius:30px;height:40px;">STILL LIFE</button>
      <button class="btn-primary margin5" style="border-radius:30px;height:40px;">URBAN</button>
      <button class="btn-primary margin5" style="border-radius:30px;height:40px;">NATURE</button>
      <button class="btn-primary margin5" style="border-radius:30px;height:40px;">LANDSCAPE</button>
      <br />
      <h5>Categories</h5>
      <ul><!--Changed in css to become 2 columns-->
        <li>Lifestyle (21)</li>
        <li>Photo(19)</li>
        <li>Jurnal (16)</li>
        <li>Works (7)</li>
        <li>Still life (9)</li>
        <li>Travel (17)</li>
      </ul>
    </div>
    <!--third 1/4-->
    <div class="col-md-3">
      <h5>Get in Touch</h5>
      <p>Moonshine St. 14/05, Nis, Serbia <br /> info@email.com <br />+00 (123) 456 78 90</p>
      <br />
      <h5>Elsewhere</h5>
      <a href="#" class="fa fa-twitter margin5"></a><!--Some Font Awesome Icons werent available so I used 1 more F A css library-->
      <a href="#" class="fa fa-facebook margin5"></a>
      <a href="#" class="fa fa-instagram margin5"></a>
      <a href="#" class="fa fa-vimeo margin5"></a>
      <a href="#" class="fa fa-youtube margin5"></a>
    </div>
    <!--Fourth 1/4-->
    <!--If links are needed just change <p> with <a> -->
    <div class="col-md-3">
      <h5>Learn more</h5>
      <p>About Us <br />Our Stories <br />Projects</p>
      <br />
      <h5>Need Help?</h5>
      <p>Support <br />Get Started<br />Contact Us</p>
    </div>
  </div>
</div>
