.margin5{
    margin:5px;
}
.post-text {
  padding: 5px;
  float: left;
  margin-left: 4px;
}
.post-img {
  float: left;
  width: 90px;
}
/*Using this style tosupport 2 columns in footer*/
ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
